/*

!/.gitignore

!/hypr/
!/sway/
!/niri/
!/waybar/
!/wlogout/
!/rofi/
!/fuzzel/
!/mako/
!/quickshell/
!/caelestia/

!/kitty/
!/foot/
!/fish/
!/tmux/
!/fastfetch/
!/btop/
!/htop/
!/nvtop/
!/scripts/
!/cava/

!/nvim/
!/zed/
!/nix/
!/home-manager/
!/qalculate/
!/yay/
!/procps/

!/nemo/
!/nautilus/
!/xfce4/
!/gtk-3.0/
!/gtk-4.0/
!/qt6ct/
!/nwg-look/
!/fontconfig/
!/xsettingsd/
!/mimeapps.list
!/environment.d/
!/systemd/
!/pipewire/
!/pulse/

tmux/plugins/
