/*

!/.gitignore

!/hypr/
!/sway/
!/niri/
!/waybar/
!/wlogout/
!/rofi/
!/fuzzel/
!/mako/
!/quickshell/
!/caelestia/

!/kitty/
!/foot/
!/fish/
!/tmux/
!/fastfetch/
!/btop/
!/htop/
!/nvtop/
!/scripts/
!/cava/

!/nvim/
!/zed/
!/nix/
!/home-manager/
!/qalculate/
!/yay/
!/procps/

!/nemo/
!/nautilus/
!/xfce4/
!/gtk-3.0/
!/gtk-4.0/
!/qt6ct/
!/nwg-look/
!/fontconfig/
!/xsettingsd/
!/mimeapps.list
!/environment.d/
!/systemd/
!/pipewire/
!/pulse/

tmux/plugins/

*/caelestia.theme.css
*/caelestia.theme
*/caelestia.colors
*/caelestia.json
nvtop/nvtop.colors
cava/config
fuzzel/fuzzel.ini
gtk-3.0/gtk.css
gtk-3.0/gtk-dark.css
gtk-3.0/settings.ini
gtk-3.0/thunar.css
gtk-4.0/assets
gtk-4.0/gtk-dark.css
gtk-4.0/gtk.css
gtk-4.0/settings.ini
htop/htoprc
hypr/scheme/current.conf
nvim/nvim-pack-lock.json
xsettingsd/xsettingsd.conf

# Dynamically generated theme/config files
*/caelestia.theme.css
*/caelestia.theme
*/caelestia.colors
*/caelestia.json
nvtop/nvtop.colors
cava/config
fuzzel/fuzzel.ini
gtk-3.0/gtk.css
gtk-3.0/gtk-dark.css
gtk-3.0/settings.ini
gtk-3.0/thunar.css
gtk-4.0/thunar.css
gtk-4.0/assets
gtk-4.0/gtk-dark.css
gtk-4.0/gtk.css
gtk-4.0/settings.ini
htop/htoprc
hypr/scheme/current.conf
nvim/nvim-pack-lock.json
xsettingsd/xsettingsd.conf
zed/
btop/
fish/secrets.fish
